<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Make Amazon healthy again!</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
<div id="container">
<div id="header"><h1><a href="/main">Make Amazon healthy again!</a></h1></div>
  <div id="wrapper">
    <div id="content">
      <p><strong>Content:</strong></p>
      <p><strong>Test: {{ test_2 }} = 7 + {{ test }}</strong></p>
      <form method="POST">
        <input name="text">
      </form>
      <p>INPUT_TEXT: {{ text }}</p>
      <p>Montegeraliquam sed pede in cursus praesenec vestas rhoncus wisi at wisi. Condisseloborttis enim et ipsum mauristie id felit adipiscipit ac auctortorttitor sempor. Vitantesqueat sempus non sed et mus sit vivamus purus netus hendiment. Pretiuma diam et id tempus dolor por wisi sed volutpat facilisi.</p>
      <p>Wisiet sus adipit phasellentum elit condissim consecteturpiscing sapien vivamus et congue. Utvel tris quismod cursus liberos elit nisse curabitur tur parturpis tellenterdum. Semperligula curabitae tellentesque nulla trices vestas ristibulum id justo auctor facinia. Natisdonec consequat nibh pellus.</p>
      <p>Vestibusodio euisque id elerisus lacus tincidunt sit malesuada lacus pellus parturpiscing. Pellenterdumat maecenatoque cras a magna nibh et quis diam ames et. Laoremvolutpat ac dolor eget eget temper lacus vestibus velit lacus venean. Magnaipsum tellus morbi leo aliquat nulla convallis pellentesque.</p>
    </div>
  </div>
  <div id="navigation">
    <p><strong>Navigation:</strong></p>
    <ul>
      <li><a href="{{ url_for('main') }}">Home</a></li>
      <li><a href="{{ url_for('project') }}">Project</a></li>
      <li><a href="{{ url_for('about') }}">About</a></li>
      <li><a href="{{ url_for('helppage') }}">Help Page</a></li>
    </ul>
  </div>
  <div id="extra">
    <p><strong>More stuff here.</strong></p>
    <p>sit malesuada lacus pellus parturpiscing. Pellenterdumat maecenatoque cras a magna nibh et quis diam ames et. Laoremvolutpat ac dolor eget eget temper lacus vestibus velit lacus venean. Magnaipsum tellus morbi leo aliquat nulla convallis pellentesque.</p>
  </div>
  <div id="footer">
    <hr width="75%" size="5" align="left" noshade>
    <p><a href="https://github.com/KKanakaraj/Amazon-Reviews-Infectious-Disease">Project</a> presentation webpage for ADA course 2019 at EPFL.</p>
    <p>Contact: <a href="mailto:barney@example.com">mail@example.ch</a></p>

  </div>
</div>
</body>
</html>
